body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    margin: 0;
    display: grid;
    overflow-x: hidden;
}

.texture-projet{
    width: 100vw;
    height: 400vh;
    position: absolute;
    top: 0;
    mix-blend-mode: multiply;
}

.titre{
    width: 80vw;
    height: 20vh;
    position: absolute;
    top: 5%;
    right: 2%;
    display: flex;
    align-items: center;  
    justify-content: flex-end;
}

.titre p{
    font-family: monospace;
    font-size: 8vw;
    mix-blend-mode: multiply;
    text-align: right;
    
}

#annee{
    font-family: monospace;
    font-size: 40px;
    mix-blend-mode: multiply;
}

.texte-explicatif{
    width: 24%;
    height: 50%;
    position: absolute;
    top: 24%;
    right: -2%;
    white-space: pre;
}

.texte-explicatif p{
    font-family: monospace;
    font-size: 1.15vw;
}

.boutons{
    background: #d8d8d8b9;
  border: 2px outset #ffffff;
  padding: 15px 15px;
  outline: none;
  position: fixed;
  bottom: 2%;
  right: 2%;
  width: 7%;
  height: 3%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#precedent{
    position: fixed;
  bottom: 2%;
  left: 2%;
}

#suivant{
    position: fixed;
  bottom: 2%;
  right: 2%;
}

.boutons:hover{
    background-color: #c0c0c0c9;
}

.boutons:active{
    border-style: inset;
  padding: 16px 14px 14px 16px;
}

.fleche{
    width: 100%;
    height: auto;
}



.maison{
    position: fixed;
    top: 2%;
    left: 2%;
    height: 79px;
    width: auto;
    border: 2px outset #ff6652;
    opacity: 1;
    cursor: pointer;
}

.maison:active{
    border-style: inset;
}

.illu{
    width: 70%;
    position: absolute;
    top: 45%;
    right: 2%;
}


.ornement{
    position: absolute;
    top: 0;
    left: -10%;
    height: 400vh;
    width: auto;
}

.petit{
    position: absolute;
    max-width: 95%;
    animation: apparition 4s infinite;
    animation-timing-function: steps(13);
}

.lines{
    position: absolute;
    max-width: 95%;
}

.carre1{
    background: #f3e2bc;
  border: 2px outset #ffffff;
  padding: 15px 15px;
  outline: none;
  width: 32vw;
  height: 41vw;
  position: absolute;
  top: 248%;
  left: 39.1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes apparition{
    0%{opacity: 1;}
    10%{opacity: 1;}
    40%{opacity: 0;}
    60%{opacity: 0;}
    90%{opacity: 1;}
    100%{opacity: 1;}
}